<%- include("partials/header") %>
    <div class="container">
        <a href="/employees%>" type="button" class="btn">
            <div class="card" style="width: 60rem; display: inline-block;">
                <div class="card-body">
                    <h1>Employee Details</h1>
                </div>
            </div>
        </a>
        <a href="/departments%>" type="button" class="btn">
            <div class="card" style="width: 60rem; display: inline-block;">
                <div class="card-body">
                    <h1>Department Details</h1>
                </div>
            </div>
        </a>
        <a href="/projects%>" type="button" class="btn">
            <div class="card" style="width: 60rem; display: inline-block;">
                <div class="card-body">
                    <h1>Project Details</h1>
                </div>
            </div>
        </a>
    </div>
<%- include("partials/footer") %>